name: QA Automation CI

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test

      - name: Generate Allure report
        if: always()
        run: |
          RUN_DIR=allure-run-${{ github.run_number }}
          npx allure generate allure-results --clean -o $RUN_DIR
          echo "RUN_DIR=$RUN_DIR" >> $GITHUB_ENV

      - name: Upload Allure report artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-report-${{ github.run_number }}
          path: ${{ env.RUN_DIR }}

      - name: Deploy Allure report to GitHub Pages (LATEST ONLY)
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
          publish_branch: gh-pages
          force_orphan: true

      - name: Show Allure report link
        if: always()
        run: |
          echo "::notice::Latest Allure Report:"
          echo "https://ckcruz26.github.io/demo-swag-web-app/allure-run-${{ github.run_number }}/"
