name: QA Automation CI

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npx playwright test

      - name: Generate Allure report (LATEST)
        if: always()
        run: |
          npx allure generate allure-results --clean -o allure-report
          echo '<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>' >> allure-report/index.html
          echo '<meta http-equiv="Pragma" content="no-cache"/>' >> allure-report/index.html
          echo '<meta http-equiv="Expires" content="0"/>' >> allure-report/index.html

      - name: Deploy Allure report to GitHub Pages (FORCE CLEAN)
        if: always()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          publish_branch: gh-pages
          force_orphan: true
          enable_jekyll: false

      - name: Show Allure report link
        if: always()
        run: |
          echo "::notice::Latest Allure Report:"
          echo "https://ckcruz26.github.io/demo-swag-web-app/"
